NODE_ENV=development
PORT=3000

DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=bCi9uHoy8ihercs.root
DB_PASSWORD=MqY3NkmobiZKPiQS
DB_NAME=reviewroll

DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA_PATH=C:\Users\rishi\OneDrive\Desktop\New folder\reviewroll-app\isrgrootx1.pem

JWT_SECRET="heavy hitters are good shitters"
TMDB_API_KEY=d64409123906bcc2052082e7658c104e
CORS_ORIGINS=http://localhost:3000
DESKTOP_DOWNLOAD_URL=